.footer {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link {
    color: lightgrey;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: white;
}
